---
// src/pages/en/about.astro
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import profilePic from '../../assets/me.jpg';
import { useTranslations } from '../../i18n/utils';
import { Briefcase, GraduationCap, MessageCircle, Code, Linkedin, Github, Mail, Phone } from 'lucide-react';

const lang = 'en';
const t = useTranslations(lang);

interface Skill { name: string; }



const education = [
  {
    institution: t('education.univalle.institution'),
    degree: t('education.univalle.degree'),
    period: t('education.univalle.period'),
    description: t('education.univalle.description')
  },
  {
    institution: t('education.madrid42.institution'),
    degree: t('education.madrid42.degree'),
    period: t('education.madrid42.period'),
    description: t('education.madrid42.description')
  }
];

const languagesSpoken = [
  { name: t('languages.spanish.name'), level: t('languages.spanish.level') },
  { name: t('languages.english.name'), level: t('languages.english.level') },
  { name: t('languages.french.name'), level: t('languages.french.level') }
];
---

<section class="py-10 md:py-16" id="about">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h1 class="text-4xl md:text-5xl font-bold">{t('nav.about')}</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-start">
      <div class="md:col-span-1 flex flex-col items-center">
        <div class="relative w-48 h-48 md:w-64 md:h-64 mb-6">
          <Image 
            src={profilePic} 
            alt="Crhistian García" 
            class="rounded-full object-cover shadow-lg w-full h-full"
            widths={[200, 400, 800]}
            sizes="(max-width: 768px) 200px, 400px"
          />
        </div>
        <h2 class="text-2xl font-semibold text-center mb-2">Crhistian García</h2>
        <p class="text-indigo-600 dark:text-indigo-400 text-center mb-6">Frontend Web Developer</p>
        
        <div class="text-sm text-gray-700 dark:text-gray-300 space-y-2 mb-6 text-center md:text-left">
          <p class="flex items-center justify-start"><span class="mr-2 text-indigo-500"><Mail size={16}  /></span> {t('contact.email')}: <a href="mailto:crhistian.garcia.frontend@gmail.com" class="hover:underline">crhistian.garcia.frontend@gmail.com</a></p>
          <p class="flex items-center justify-start"><span class="mr-2 text-indigo-500"><Phone size={16} /></span> {t('contact.phone')}: <a href="tel:+34642772300" class="hover:underline">+34 642 772 300</a></p>
          <p class="flex items-center justify-start"><span class="mr-2 text-indigo-500"><Linkedin size={16} /></span> <a href="https://www.linkedin.com/in/crhistian-alexander-garcia-urbano-5251a11b0/" target="_blank" rel="noopener noreferrer" class="hover:underline">{t('contact.linkedin')}</a></p>
          <p class="flex items-center justify-start"><span class="mr-2 text-indigo-500"><Github size={16} /></span> <a href="https://github.com/crhistian2296" target="_blank" rel="noopener noreferrer" class="hover:underline">{t('contact.github')}</a></p>
        </div>
      </div>

      <div class="md:col-span-2">
        <div class="bg-gray-50 dark:bg-gray-800 p-6 md:p-8 rounded-lg shadow-md">
          <h3 class="text-2xl font-semibold mb-4 flex items-center"><span class="mr-2 text-indigo-500"><Briefcase size={24} /></span> {t('profile.title')}</h3>
          <p class="text-gray-700 dark:text-gray-300 mb-6 text-justify">{t('profile.description')}</p>

          <h3 class="text-2xl font-semibold mb-6 flex items-center"><span class="mr-2 text-indigo-500"><Code size={24} /></span> {t('skills.title')}</h3>
          <div class="mb-6 space-y-4">
            <div>
              <h4 class="font-semibold text-lg mb-2 text-gray-700 dark:text-gray-300">{t('skills.languages.title')}:</h4>
              <div class="flex flex-wrap gap-2">
                {t('skills.languages.list').map((skill: Skill) => <span class="bg-indigo-100 text-indigo-700 dark:bg-indigo-900 dark:text-indigo-300 px-3 py-1 text-sm font-medium rounded-full">{skill.name}</span>)}
              </div>
            </div>
            <div>
              <h4 class="font-semibold text-lg mb-2 text-gray-700 dark:text-gray-300">{t('skills.frameworks.title')}:</h4>
              <div class="flex flex-wrap gap-2">
                {t('skills.frameworks.list').map((skill: Skill) => <span class="bg-indigo-100 text-indigo-700 dark:bg-indigo-900 dark:text-indigo-300 px-3 py-1 text-sm font-medium rounded-full">{skill.name}</span>)}
              </div>
            </div>
            <div>
              <h4 class="font-semibold text-lg mb-2 text-gray-700 dark:text-gray-300">{t('skills.tools.title')}:</h4>
              <div class="flex flex-wrap gap-2">
                {t('skills.tools.list').map((skill: Skill) => <span class="bg-indigo-100 text-indigo-700 dark:bg-indigo-900 dark:text-indigo-300 px-3 py-1 text-sm font-medium rounded-full">{skill.name}</span>)}
              </div>
            </div>
              <div>
              <h4 class="font-semibold text-lg mb-2 text-gray-700 dark:text-gray-300">{t('skills.styling.title')}:</h4>
              <div class="flex flex-wrap gap-2">
                {t('skills.styling.list').map((skill: Skill) => <span class="bg-indigo-100 text-indigo-700 dark:bg-indigo-900 dark:text-indigo-300 px-3 py-1 text-sm font-medium rounded-full">{skill.name}</span>)}
              </div>
            </div>
            <div>
              <h4 class="font-semibold text-lg mb-2 text-gray-700 dark:text-gray-300">{t('skills.methodologies.title')}:</h4>
              <div class="flex flex-wrap gap-2">
                {t('skills.methodologies.list').map((skill: Skill) => <span class="bg-indigo-100 text-indigo-700 dark:bg-indigo-900 dark:text-indigo-300 px-3 py-1 text-sm font-medium rounded-full">{skill.name}</span>)}
              </div>
            </div>
            <div>
              <h4 class="font-semibold text-lg mb-2 text-gray-700 dark:text-gray-300">{t('skills.testing.title')}:</h4>
              <div class="flex flex-wrap gap-2">
                {t('skills.testing.list').map((skill: Skill) => <span class="bg-indigo-100 text-indigo-700 dark:bg-indigo-900 dark:text-indigo-300 px-3 py-1 text-sm font-medium rounded-full">{skill.name}</span>)}
              </div>
            </div>
          </div>

          <h3 class="text-2xl font-semibold mb-6 flex items-center"><span class="mr-2 text-indigo-500"><GraduationCap size={24} /></span> {t('education.title')}</h3>
          <div class="space-y-6 mb-6">
            {education.map(edu => (
              <div class="bg-white dark:bg-gray-750 p-4 rounded-md shadow-sm">
                <h4 class="text-xl font-semibold text-indigo-600 dark:text-indigo-400">{edu.degree}</h4>
                <p class="text-gray-600 dark:text-gray-400 text-sm mb-1">{edu.institution} | {edu.period}</p>
                <p class="text-gray-700 dark:text-gray-300 text-sm">{edu.description}</p>
              </div>
            ))}
          </div>

          <h3 class="text-2xl font-semibold mb-6 flex items-center"><span class="mr-2 text-indigo-500"><MessageCircle size={24} /></span> {t('languages.title')}</h3>
          <div class="space-y-2">
            {languagesSpoken.map(langItem => (
              <p class="text-gray-700 dark:text-gray-300">{langItem.name}: <span class="font-medium">{langItem.level}</span></p>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>